node_modules
.git
.gitignore
.vscode
.idea
.env
.env.*
*.log
.DS_Store
coverage
dist
*.tsbuildinfo
LICENSE
CLA.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
amplify.yml
docker-compose.yml
turbo.json
bts.jsonc
biome.json
